# See https://help.github.com/articles/ignoring-files/ for more about ignoring files.

# dependencies
proedgeFrontend/node_modules
proedgeBackend/node_modules
/.pnp
.pnp.js
proedgeFrontend/.idea/
proedgeBackend/.idea/
# testing
/coverage

# production
proedgeFrontend/build

# misc
.DS_Store
.env.local
.env.development.local
.env.test.local
.env.production.local

npm-debug.log*
yarn-debug.log*
yarn-error.log*
